<nav class="navbar navbar-expand-md navbar-dark bg-recipe fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link recipe-text" href="login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link recipe-text" href="logout">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link recipe-text" href="register.html">Register</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link recipe-text" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link recipe-text" href="search_results.html">My Favorites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link recipe-text" href="add_recipe">Add Recipe</a>
        </li>
      </ul>
    </form>
  </div>
</nav>