<main role="main" class="container">
    <form action="/addrecipe" method="POST">
    <div class="starter-template">
        <label class="float-left" for="recipe-name">Recipe Name</label>
        <input class="form-control mr-sm-0" type="text" placeholder="Recipe Name" aria-label="Recipe Name" name="recipe_name" id="recipe-name">
        <label class="float-left pt-3" for="photo-url">Photo URL</label>
        <input class="form-control mr-sm-0" type="text" placeholder="Photo URL" aria-label="Photo URL" name="photo_url" id="photo_url">
        <div class="container pb-3">
            <div class="new-ingredients" id="new-ingredients">
                <div class="amt-input-container">
                    <label class="float-left pt-3" for="amt">Amt.</label>
                    <input class="form-control mr-sm-0 amt-input" type="text" placeholder="Amt" name="amt" id="amt" aria-label="Amt">
                </div>
                <div class="ingredients-input-container">
                    <label class="float-left pt-3" for="ingredients">Ingredients</label>
                    <input class="form-control mr-sm-0" type="text" placeholder="Ingredient" name="ingredient" id="ingredient" aria-label="Ingredient">
                </div>
            </div>
            <div class="new-ingredients" id="new-ingredients">
                <div class="amt-input-container">
                    <label class="float-left pt-3" for="amt">Amt.</label>
                    <input class="form-control mr-sm-0 amt-input" type="text" placeholder="Amt" name="amt" id="amt" aria-label="Amt">
                </div>
                <div class="ingredients-input-container">
                    <label class="float-left pt-3" for="ingredients">Ingredients</label>
                    <input class="form-control mr-sm-0" type="text" placeholder="Ingredient" name="ingredient" id="ingredient" aria-label="Ingredient">
                </div>
            </div>
        </div>
        <button class="btn btn-secondary my-2 my-sm-0 float-right" type="submit">Add</button>
        <div class="container pb-3">
            <div class="new-steps" id="new-steps">
                <div class="steps-input-container" id="step-container">
                    <label class="float-left pt-3" for="steps">Step</label>
                    <input class="form-control mr-sm-0" type="text" placeholder="Step" name="step" id="step" aria-label="Step">
                </div>
                <div class="steps-input-container" id="step-container">
                    <label class="float-left pt-3" for="steps">Step</label>
                    <input class="form-control mr-sm-0" type="text" placeholder="Step" name="step" id="step" aria-label="Step">
                </div>
            </div>
        </div>
        <button class="btn btn-secondary my-2 my-sm-0 float-right" type="button" id="step-add">Add</button>
    </div>
    <button type="submit" class="btn btn-primary" id="recipe-submit">Submit</button>
    </form>
</main>