<main role="main" class="container">
    <div class="starter-template">
        <label class="float-left" for="Recipe Name">Recipe Name</label>
        <input class="form-control mr-sm-0" type="text" placeholder="Recipe Name" aria-label="Recipe Name">
        <label class="float-left pt-3" for="Photo URL">Photo URL</label>
        <input class="form-control mr-sm-0" type="text" placeholder="Photo URL" aria-label="Photo URL">
        <div class="container pb-3">
            <div class="amt-input-container">
                <label class="float-left pt-3" for="Amt.">Amt.</label>
                <input class="form-control mr-sm-0 amt-input" type="text" placeholder="Amt." aria-label="Ingredient">
            </div>
            <div class="ingredients-input-container">
                <label class="float-left pt-3" for="Ingredients">Ingredients</label>
                <input class="form-control mr-sm-0" type="text" placeholder="Ingredient" aria-label="Ingredient">
            </div>
        </div>
        <button class="btn btn-secondary my-2 my-sm-0 float-right" type="submit">Add</button>
        <div class="container pb-3">
            <div class="steps-input-container">
                <label class="float-left pt-3" for="Steps">Steps</label>
                <input class="form-control mr-sm-0" type="text" placeholder="Step" aria-label="Step">
            </div>
        </div>
        <button class="btn btn-secondary my-2 my-sm-0 float-right" type="submit">Add</button>
    </div>
</main>