<main role="main" class="container">
    <h2>Register</h2>
    <hr>

    <div class="row">
        <div class="col-md-12">
            <form id="register-form">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email-input">Email Address</label>
                        <input type="email" class="form-control" id="register-email-input">
                    </div>
                    <div class="form-group">
                        <label for="password-input">Password</label>
                        <input type="password" class="form-control" id="register-password-input">
                    </div>
                    <div class="form-group">
                        <label for="password-verify-input">Repeat Password</label>
                        <input type="password" class="form-control" id="register-password-verify-input">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </div> <!-- col-md-4 -->
            </form>
        </div> <!-- col-md-12 -->
    </div> <!-- row -->
</main>